In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import re
import datetime

from currency_converter import CurrencyConverter

In [2]:
df = pd.read_csv('data_for_student_case.csv', index_col=0)  # dataframe
df['cvcresponsecode'].apply(lambda x: float(x))
df['amount'].apply(lambda x: float(x))
# df = df[df['simple_journal'] != 'Refused']

txid
1          64800.0
2          44900.0
3         149900.0
4         109900.0
5          89900.0
6          79900.0
7          69900.0
8         129900.0
9         129900.0
10         99900.0
11        129900.0
12         84915.0
13        119900.0
14         99900.0
15        137900.0
16        115300.0
17        102900.0
18        159900.0
19         89165.0
20        119900.0
21        160800.0
22         89900.0
23         97900.0
24        129900.0
25        191900.0
26         93415.0
27        289900.0
28        118900.0
29        329900.0
30        181900.0
            ...
482699    106250.0
482700    131200.0
482702     98500.0
482703     34900.0
482704     94900.0
482705     64900.0
482707     39900.0
482708     36900.0
482709     45000.0
482711     47400.0
482712     68650.0
482713    108400.0
482714     88900.0
482715     81400.0
482716     77400.0
482717    100000.0
482718     43150.0
482719     84900.0
482720     70000.0
482722    104100.0
482723     48900.0
482724    110000.0
482725     94900.0
482726    181600.0
482728     34900.0
482729     48100.0
482731    195000.0
482732     52500.0
482733     87700.0
482734     58500.0
Name: amount, Length: 290382, dtype: float64

In [6]:
df['AUD_currency'] = df[['currencycode', 'amount']].apply(lambda x: CurrencyConverter.convert_currency_from_AUD(x), axis=1)

In [3]:
df['date'] = pd.to_datetime(df['creationdate'])
df.head()

,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id,date
txid,,,,,,,,,,,,,,,,,
1,2015-11-09 14:26:51,MX,mccredit,530056.0,64800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 23:03:11,MexicoAccount,email68370,ip111778,card184798,2015-07-01 23:03:11
2,2015-11-09 14:27:38,MX,mccredit,547046.0,44900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 04:50:55,MexicoAccount,email101299,ip78749,card151595,2015-07-02 04:50:55
3,2015-11-23 16:34:16,MX,mccredit,528843.0,149900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 14:30:28,MexicoAccount,email278604,ip70594,card242142,2015-07-02 14:30:28
4,2015-11-23 16:34:51,MX,mccredit,547146.0,109900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-03 07:53:37,MexicoAccount,email47409,ip113648,card181744,2015-07-03 07:53:37
5,2015-11-09 14:26:08,MX,visaclassic,477291.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 18:35:35,MexicoAccount,email205501,ip83553,card97271,2015-07-08 18:35:35

In [4]:
df['diff_time'] = df.sort_values(['creationdate']).groupby(['card_id'])['date'].diff()
df.head(20)

,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id,date,diff_time
txid,,,,,,,,,,,,,,,,,,
1,2015-11-09 14:26:51,MX,mccredit,530056.0,64800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 23:03:11,MexicoAccount,email68370,ip111778,card184798,2015-07-01 23:03:11,NaT
2,2015-11-09 14:27:38,MX,mccredit,547046.0,44900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 04:50:55,MexicoAccount,email101299,ip78749,card151595,2015-07-02 04:50:55,NaT
3,2015-11-23 16:34:16,MX,mccredit,528843.0,149900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 14:30:28,MexicoAccount,email278604,ip70594,card242142,2015-07-02 14:30:28,NaT
4,2015-11-23 16:34:51,MX,mccredit,547146.0,109900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-03 07:53:37,MexicoAccount,email47409,ip113648,card181744,2015-07-03 07:53:37,NaT
5,2015-11-09 14:26:08,MX,visaclassic,477291.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 18:35:35,MexicoAccount,email205501,ip83553,card97271,2015-07-08 18:35:35,NaT
6,2015-11-09 14:26:25,MX,visaclassic,493161.0,79900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 23:04:26,MexicoAccount,email243511,ip112410,card159816,2015-07-08 23:04:26,NaT
7,2015-11-09 14:26:47,MX,visaclassic,477291.0,69900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 02:31:36,MexicoAccount,email137086,ip83481,card251249,2015-07-09 02:31:36,NaT
8,2015-11-23 16:34:29,MX,mccredit,520416.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 04:56:48,MexicoAccount,email295644,ip66704,card70297,2015-07-09 04:56:48,NaT
9,2015-12-08 19:58:35,MX,visaclassic,477291.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 22:55:40,MexicoAccount,email115605,ip68088,card39791,2015-07-09 22:55:40,NaT
10,2015-11-09 14:25:50,MX,mccredit,549138.0,99900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-11 09:44:14,MexicoAccount,email182966,ip113025,card160922,2015-07-11 09:44:14,NaT
11,2015-11-23 16:34:29,MX,mccredit,520416.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-11 18:54:05,MexicoAccount,email121326,ip66645,card101732,2015-07-11 18:54:05,NaT
12,2015-11-09 14:26:11,MX,mcdebit,525678.0,84915.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-15 23:46:02,MexicoAccount,email73234,ip76993,card208276,2015-07-15 23:46:02,NaT
13,2015-12-08 19:58:35,MX,visagold,493173.0,119900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-17 03:25:00,MexicoAccount,email92697,ip76878,card264612,2015-07-17 03:25:00,NaT
14,2015-11-09 14:25:51,MX,visagold,477213.0,99900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-17 07:52:16,MexicoAccount,email128862,ip70728,card250464,2015-07-17 07:52:16,NaT
15,2015-11-23 16:34:25,MX,mccredit,520416.0,137900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-19 01:54:35,MexicoAccount,email205298,ip78514,card214147,2015-07-19 01:54:35,NaT
16,2015-11-23 16:34:41,MX,visaclassic,455545.0,115300.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-21 21:30:18,MexicoAccount,email200329,ip85198,card67812,2015-07-21 21:30:18,NaT
17,2015-11-23 16:34:56,MX,mccredit,528843.0,102900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 01:22:11,MexicoAccount,email52218,ip66658,card15137,2015-07-22 01:22:11,NaT
18,2015-11-23 16:34:06,MX,visaclassic,426807.0,159900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 02:36:30,MexicoAccount,email241832,ip77787,card31669,2015-07-22 02:36:30,NaT
19,2015-12-08 19:58:35,MX,mccredit,544549.0,89165.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 07:09:44,MexicoAccount,email171889,ip70519,card241186,2015-07-22 07:09:44,NaT
20,2015-11-23 16:34:39,MX,mccredit,557910.0,119900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-23 18:55:21,MexicoAccount,email260026,ip65124,card157094,2015-07-23 18:55:21,NaT

In [42]:
time = pd.DatetimeIndex(df['diff_time'])
df['diff_time_min'] = time.hour * 60 + time.minute + 1#df['diff_time'].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))
df['diff_time_min'] = df['diff_time_min'].fillna(0)
df.sort_values(['card_id', 'date']).head(20)

,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id,AUD_currency,date,diff_time,diff_time_min
txid,,,,,,,,,,,,,,,,,,,,
372697,2015-10-09 20:20:25,GB,visadebit,465859.0,4370.0,GBP,GB,Ecommerce,Settled,NaN,1,2015-10-08 00:58:44,UKAccount,email32318,ip45370,card1,7844.150,2015-10-08 00:58:44,NaT,0.0
392860,2015-10-18 23:34:23,GB,mccredit,527669.0,8067.0,GBP,GB,Ecommerce,Settled,True,1,2015-10-16 12:55:18,UKAccount,email282587,ip118422,card10,14480.265,2015-10-16 12:55:18,NaT,0.0
438572,2015-08-22 10:09:07,US,mccredit,534860.0,15000.0,GBP,US,Ecommerce,Refused,True,1,2015-08-22 10:09:07,UKAccount,email1219,ip352402,card100,26925.000,2015-08-22 10:09:07,NaT,0.0
216605,2015-07-10 07:34:43,GB,visadebit,475129.0,7675.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-08 11:13:44,UKAccount,email124883,ip87278,card1000,13776.625,2015-07-08 11:13:44,NaT,0.0
390975,2015-10-16 01:53:07,GB,visadebit,465901.0,8619.0,GBP,GB,Ecommerce,Settled,True,1,2015-10-14 18:33:39,UKAccount,email280659,ip161323,card10000,15471.105,2015-10-14 18:33:39,NaT,0.0
237318,2015-07-21 22:34:59,GB,visadebit,465845.0,5395.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-19 18:20:03,UKAccount,email93952,ip118859,card100001,9684.025,2015-07-19 18:20:03,NaT,0.0
289172,2015-08-20 00:19:22,GB,mccredit,518652.0,5850.0,GBP,GB,Ecommerce,Settled,True,1,2015-08-18 23:18:01,UKAccount,email257278,ip276245,card100002,10500.750,2015-08-18 23:18:01,NaT,0.0
420080,2015-10-28 17:56:56,GB,visadebit,454742.0,4395.0,GBP,GB,Ecommerce,Refused,True,1,2015-10-28 17:56:56,UKAccount,email101827,ip322007,card100003,7889.025,2015-10-28 17:56:56,NaT,0.0
7923,2015-08-15 06:55:06,MX,visaclassic,493160.0,109900.0,MXN,MX,Ecommerce,Refused,True,0,2015-08-15 06:55:05,MexicoAccount,email252242,ip71325,card100004,7583.100,2015-08-15 06:55:05,NaT,0.0
360269,2015-10-01 17:44:52,GB,visadebit,446291.0,6090.0,GBP,GB,Ecommerce,Settled,True,1,2015-09-30 16:36:58,UKAccount,email190675,ip192997,card100005,10931.550,2015-09-30 16:36:58,NaT,0.0
307228,2015-08-31 19:10:32,GB,visadebit,453978.0,7000.0,GBP,GB,Ecommerce,Settled,NaN,1,2015-08-28 20:59:22,UKAccount,email210334,ip182267,card100006,12565.000,2015-08-28 20:59:22,NaT,0.0
17665,2015-10-15 11:25:56,MX,mccredit,547046.0,109900.0,MXN,MX,Ecommerce,Refused,True,0,2015-10-15 11:25:56,MexicoAccount,email8853,ip77507,card100007,7583.100,2015-10-15 11:25:56,NaT,0.0
17666,2015-10-15 11:26:29,MX,mccredit,547046.0,109900.0,MXN,MX,Ecommerce,Refused,True,0,2015-10-15 11:26:28,MexicoAccount,email8853,ip77507,card100007,7583.100,2015-10-15 11:26:28,00:00:32,1.0
17667,2015-10-15 11:34:56,MX,mccredit,547046.0,35900.0,MXN,MX,Ecommerce,Refused,True,0,2015-10-15 11:34:56,MexicoAccount,email304364,ip71576,card100007,2477.100,2015-10-15 11:34:56,00:08:28,9.0
48410,2015-09-21 04:16:25,AU,mccredit,552350.0,5850.0,AUD,AU,Ecommerce,Refused,True,0,2015-09-21 04:16:23,APACAccount,email44693,ip160360,card100009,5850.000,2015-09-21 04:16:23,NaT,0.0
81391,2015-09-22 04:49:30,AU,mccredit,552350.0,5850.0,AUD,AU,Ecommerce,Settled,True,0,2015-09-21 04:17:09,APACAccount,email44693,ip160360,card100009,5850.000,2015-09-21 04:17:09,00:00:46,1.0
219262,2015-07-11 00:48:20,GB,visadebit,492181.0,2895.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-09 22:53:03,UKAccount,email162676,ip329623,card10001,5196.525,2015-07-09 22:53:03,NaT,0.0
219276,2015-07-11 00:50:26,GB,visadebit,492181.0,2895.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-09 22:58:49,UKAccount,email162676,ip329623,card10001,5196.525,2015-07-09 22:58:49,00:05:46,6.0
252132,2015-07-31 00:06:26,GB,visadebit,476224.0,6090.0,GBP,GB,Ecommerce,Settled,True,1,2015-07-27 22:47:11,UKAccount,email239034,ip311056,card100010,10931.550,2015-07-27 22:47:11,NaT,0.0
294636,2015-08-24 19:44:38,GB,visadebit,475127.0,6700.0,GBP,GB,Ecommerce,Settled,True,1,2015-08-21 22:51:14,UKAccount,email76026,ip12871,card100011,12026.500,2015-08-21 22:51:14,NaT,0.0

In [16]:
df = df[df['simple_journal'] != 'Refused']
df = df[(df['shoppercountrycode'] == 'MX') & (df['currencycode'] == 'MXN')]

df['day'] = pd.to_datetime(df['creationdate']).dt.date
# print(df.head())
df['freq'] = df.sort_values(['creationdate']).groupby(['card_id', 'day'])['creationdate_unix'].rank(method='first').astype(int)
df['freq'] = df['freq'] - 1
df_uu = df[df['freq']>1]

df_uu.sort_values(['card_id', 'date']).head(40)

,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,...,accountcode,mail_id,ip_id,card_id,date,diff_time,day,creationdate_unix,freq,creationdate_unix_day
txid,,,,,,,,,,,,,,,,,,,,,
39814,2015-09-28 23:15:00,MX,mccredit,531444.0,104930.0,MXN,MX,Ecommerce,Settled,True,...,MexicoAccount,email164013,ip80799,card120937,2015-09-28 23:14:45,15:29:40,2015-09-28,1.443398e+09,2,1.443482e+09
41384,2015-10-06 21:02:52,MX,mccredit,520416.0,139900.0,MXN,MX,Ecommerce,Settled,True,...,MexicoAccount,email101662,ip113849,card145566,2015-10-06 21:02:25,16:47:07,2015-10-06,1.444090e+09,2,1.444165e+09
39350,2015-09-26 21:09:05,MX,visagold,477213.0,76930.0,MXN,MX,Ecommerce,Settled,True,...,MexicoAccount,email118161,ip111902,card191796,2015-09-26 21:08:53,00:07:53,2015-09-26,1.443226e+09,2,1.443302e+09
32809,2015-08-24 05:43:28,MX,mccredit,528843.0,49900.0,MXN,MX,Ecommerce,Settled,True,...,MexicoAccount,email104986,ip66024,card7928,2015-08-24 05:43:17,00:02:10,2015-08-24,1.440374e+09,2,1.440395e+09
32811,2015-08-24 05:54:00,MX,mccredit,528843.0,29900.0,MXN,MX,Ecommerce,Settled,True,...,MexicoAccount,email104986,ip66024,card7928,2015-08-24 05:53:53,00:10:36,2015-08-24,1.440374e+09,3,1.440396e+09
25749,2015-07-18 19:25:47,MX,mccredit,522130.0,53940.0,MXN,MX,Ecommerce,Settled,True,...,MexicoAccount,email254543,ip112306,card94671,2015-07-18 19:25:37,00:04:25,2015-07-18,1.437178e+09,2,1.437248e+09

In [ ]:
df.sort_values(['creationdate']).groupby(['card_id'])['creationdate_unix_day'].
df.sort_values(['card_id', 'date']).head(40)df['sum_amount'] =

In [18]:
df1 = df.groupby(['shoppercountrycode', 'currencycode']).size().reset_index(name='freq').sort_values(by=['freq'], ascending=False).head()
df2 = df[(df['shoppercountrycode'] == 'AU') & (df['currencycode'] == 'AUD')].groupby(['txvariantcode', 'simple_journal']).size().reset_index(name='freq').sort_values(by=['txvariantcode', 'simple_journal', 'freq'], ascending=False)
df3 = df[df['simple_journal'] == 'Chargeback'].groupby(['shoppercountrycode', 'currencycode']).size().reset_index(name='freq').sort_values(by=['freq'], ascending=False)

# print(df1)
print(df2.head())

     txvariantcode simple_journal  freq
20   visasignature        Settled   123
19   visasignature     Chargeback     5
18  visapurchasing        Settled    13
17  visapurchasing     Chargeback     2
16    visaplatinum        Settled  1820